CATEGORIES

<% @category_products.each do |product| %>

    <div>
        <a href="/everydaymart/<%= @category_selected['id'] %>/<%= product['id'] %>"><%= product['name'] %></a>
    </div>

<% end %>


