<h2> Categories </h2>

<% @categories.each do |category| %>

    <div class="">
        <a href="/everydaymart/<%= category['name'] %>"><%= category['name'] %></a>
    </div>

<% end %>

<h2> Products </h2>
<% @products.each do |product|%>

    <div class="products">
        <a href="/everydaymart/<%= product['id'] %>"><%= product['name'] %></a>
    </div>

<% end %>
