<div>
    <form action='/product/new' method='POST'>
        <input type="text" name="product_name" placeholder="name"></input>
        <input type="number" name="product_cost"placeholder="cost"></input>
        <input type="text" name="description" placeholder="description"></input>
        <input type="number" name="category_id" placeholder="category_id"></input>
        <button type="submit">Submit new product</button>
    </form>
</div>